body {
    margin: 0;
    overflow: hidden;
    width: var(--screen-width);
    height: var(--screen-height);
    background-color: black;
}

iframe {
    width: var(--screen-width);
    height: var(--screen-height);
    border: none;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.fullscreen>* {
    pointer-events: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-x {
    display: flex;
    justify-content: center;
}

.center-y {
    display: flex;
    align-items: center;
}

span {
    display: flex;
    flex-direction: row;
}

.h-md {
    height: 2em;
}

.h-fit {
    height: fit-content;
}

.ml-1 {
    margin-left: .8em;
}

#info h5 {
    background-color: #ffffff36;
    padding: 0.5em;
    border-radius: 100em;
}

r {
    background: linear-gradient(90deg, #ff4646, #ffa64c, #ffff60, #57ff57, #6e6eff, #c069ff, #d77aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 1000s linear infinite;
}

@keyframes rainbow {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 40000px;
    }
}

.up {
    transform: translateY(-100px) !important;
}

.t-md {
    transition: all 0.3s ease-in-out;
}

#info-page {
    transition: .3s ease-in-out;
    padding: 1em;
    width: calc(var(--screen-width) - 2em) !important;
    height: calc(var(--screen-height) - 2em) !important;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .1) -16%, rgba(0, 0, 0, 1) 74%);
}

#info-page>div {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 1em;
}

#info-page>span {
    width: calc(var(--screen-width) - 2em) !important;
    text-align: center;
}

#info-page>span>h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translateY(-20px);
}

#info-page>span>h2>t {
    padding-left: .2em;
    padding-right: .2em;
}

#info-page>span img {
    width: 1em;
    height: 1em;
    padding: .2em;
}

#info-page>span>h2 * {
    background-color: #000000;
}

#info-page #close {
    width: 3em;
    height: 3em;
    background-color: black;
    padding: 0 !important;
}

#info-page-content {
    box-sizing: border-box;
    padding: 3em;
}

.vignette {
    box-shadow: inset 0 0 80px 82px rgb(0 0 0 / 50%);
}

.low {
    opacity: .6;
    display: flex;
    justify-content: center;
}

.low img {
    margin-right: .6em;
}

main.submit-page {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "main main main"
        "info info info"
        "accept accept accept";
    height: 100%;
    justify-content: center;
    align-items: center;
}

main.submit-page #header {
    grid-area: header;
    text-align: center;
    color: white;
}

main.submit-page #main {
    grid-area: main;
}

main.submit-page #info {
    grid-area: info;
}

main.submit-page #accept {
    grid-area: accept;
}

.fill {
    width: 100%;
    height: 100%;
}

button {
    border: none;
    border-radius: .6em;
}